<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contacts</h1>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:{{ site.phone }}">
                    {{ site.phone }}
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 container-contacts-phone">
          <ul class="list-inline">
              <li>
                  <a href="https://www.facebook.com/WizardSpots/"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
              </li>
              <li>
                  <a href="https://plus.google.com/b/102426166379979528674"><i class="fa fa-google-plus fa-fw fa-2x"></i></a>
              </li>
              <li>
                  <a href="https://twitter.com/WizardSpots"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
              </li>
              <li>
                  <a href="https://www.linkedin.com/in/wizard-spots-22788970"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
              </li>
          </ul>
        </div>
    </div>
</footer>
